/* Grid styles */
@layer tailwind{
.grid {
    display: grid;
    grid-template-columns: var(--grid-col-s);
    gap: var(--space-m)
  }
  .grid--s {
    grid-template-columns: var(--grid-col-s);
    gap: var(--space-s);
    width: 100%;
  }
  .grid--l {
    grid-template-columns: var(--grid-col);
    gap: var(--space-m);
    width: 100%;
  }
  .grid--l{
    display: grid;
    grid-template-columns: var(--grid-col-l);
    gap: var(--space-l);
    width: 100%;
  }
  @media only screen and (min-width: 950px){
    .grid--2 {
      grid-template-columns: 1fr 1fr;
    }
    .grid--3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid--4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
/* maximum width */
  .mw-10{
    max-width: 10rem;
  }
  .mw-20{
    max-width: 20rem;
  }
  .mw-30{
    max-width: 30rem;
  }
  .mw-40{
    max-width: 40rem;
  }
/* spacing */
/* width utilities */
.w-full{
    width:100%;
}
/* sizing utilities */
.h-full{
  height: 100%;
}
.min-h-screen{
  min-height: 100vh;
}
.min-w-50{
  max-width: 50rem;
}
.min-w-60{
  max-width: 60rem;
}
.min-w-70{
  max-width: 70rem;
}
.min-w-80{
  max-width: 80rem;
}
.min-w-90{
  max-width: 90rem;
}
/* gap utilities */
.gap-3xs{ 
  gap: var(--space-3xs);
}
.gap-2xs{ 
  gap: var(--space-2xs);
}
.gap-xs{ 
  gap: var(--space-s);
}
.gap-s{ 
  gap: var(--space-s);
}
.gap-m{ 
  gap: var(--space-m);
}
.gap-l{ 
  gap: var(--space-l);
}
.gap-xl{ 
  gap: var(--space-xl);
}
.gap-2xl{ 
  gap: var(--space-2xl);
}
.gap-3xl{ 
  gap: var(--space-3xl);
}
/* font/text styles */
.text-center{
    text-align: center;
}
.text-shadow-dark {
  text-shadow: 0 0 15px var(--col-dark) ;
}
.text-shadow-light {
  text-shadow: 0 0 15px var(--col-light) ;
}

@media only screen and (min-width: 950px){
    .t-left\:tab{
        text-align: left;
    }
}

/* sticky styles */
.sticky-t-0{
    position: sticky;
    top:0
}
.sticky-t-5{
    position: sticky;
    top:5rem
}
.sticky-t-10{
    position: sticky;
    top:10rem;
}
/*Flex classes*/
/* Display */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

/* Direction */
.flex-row {
  flex-direction: row;

}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

/* Wrap */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

/* Align Content */
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

/* Align Self */
.self-auto {
  align-self: auto;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}

}/*End Layer do not remove*/