/* Minimal css reset */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html {
    scroll-behavior: smooth;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/*clickable parent*/
.clickable-parent {
  position: relative;
}
  .clickable-parent a::before, .clickable-parent button::before {
    position: absolute;
    inset: 0;
    content: '';
    z-index: 1000;
  }
/*Column styles*/
.columns{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--space-xs);  
}
.columns--img > *:has(:not(img)) > *{
  z-index: 1;
}
.columns--img img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:50% 50%;
}
.columns--even > *  {
  flex: 1 1 300px;
}
.columns--swap:nth-of-type(2n) > *:nth-child(2n) {
  order:-1;
}
@media only screen and (max-width: 750px)  {
  .columns  {
    flex-direction: column;
    align-items: stretch;
  }
  .columns--even > * {
    flex: 1 1 100%;
  }
  .columns--swap:nth-of-type(2n) > *:nth-child(2n) {
    order: unset;
  }
}
/* remove link styles */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .no-link, .no-link a, a.btn, a.cta { 
  color: inherit;
  text-decoration: inherit;
}
/*Section styles*/
section:has(.container)  { 
  padding: var(--space-sect--ver) var(--space-sect--hor);
}
header, footer{ 
  padding: var(--space-s) var(--space-sect--hor);
}
  section .container, footer .container, header .container {
    margin:auto;
    width: 100%;
    max-width: 1150px;
  }
    .header__row{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
button, .btn { 
  cursor: pointer;
  line-height: 1;
  color: var(--col-light);
}
/* Navigation Menu */
  .menu {
    display: flex;
    justify-content: end;
  }
    .menu__btn { /*Mobile Navigation button*/
      background: unset;
      border: unset;
      padding: 0;
      z-index:1;
      transition: .4s ease-in-out;
    }
      .menu__btn > * {
        width: 2rem;
        height: 4px;
        border-radius: 1rem;
        margin: 5px;
        background: var(--col--txt);
        border: unset;
        transition: .4s ease-in-out;
      }

    .menu__ul  {
      height: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;
      overflow: auto;
      transition: .4s ease-in-out;
    }
      .menu_li{
      }
      .menu__li button{
        width: 100%;
        background: unset;
        border: unset;
        padding: .2em 1em;
        text-align: end;
      }
  /* Menu active styles */
    .menu--active .menu__btn{
      transform: scale(1.1);
    }
      .menu--active .menu__btn > *:first-child { 
        transform: translateY(9px) rotate(45deg) ;
      }
      .menu--active .menu__btn > *:nth-child(2n) { 
        opacity: 0;
        transform: scale(0);
      }
      .menu--active .menu__btn > *:last-child { 
        transform: translateY(-9px) rotate(-45deg) ;
      }
    .menu--active .menu__ul{
      height: 100vh;
    }

/* Form styles */
  form{
    display: flex;
    flex-direction: column;
    gap: var(--space-s)
  }
    form > div{
      display: flex;
      justify-content: stretch;
      flex-wrap: wrap;
      gap: var(--space-s)
    }
      form label{
        display: flex;
        flex-direction: column;
        flex: 1 1;
      }
      form label:has(input[type="radio"]), form label:has(input[type="checkbox"]){
        flex-direction: row;
        gap: var(--space-s);
        position: relative;
      }
        form input {
          border: none;
        }
        form input:is([type="radio"]):before, form input:is([type="checkbox"]):before{
          position: absolute;
          content: '';
          inset: 0;
          cursor: pointer;
        }
/* Logo style */
.logo {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-500);
  line-height: 1;
  gap: 0.4em;
  transition: .4s ease-in-out;
}
  .logo__name {
    font-weight: 700;
    letter-spacing: -0.02em;
    font-size: 1.1em; 
    position: relative;
  }
  .logo__name:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 2px;
    background: var(--col-primary);
    bottom: 0;
    left:0;
    transform: translateY(.2em);
  }
  .logo__title {
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
/* Text styles */
h1:has(.subtitle), h2:has(.subtitle){
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: var(--space-s)
}
.subtitle{
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: var(--col-primary); 
  text-decoration: underline;
  text-underline-offset: .15em;
}
/* highlighted text */
.highlight{
  text-transform: uppercase;
  font-size: 1.3em;
}
.text-shadow{
  text-shadow: 1px 1px 4px var(--col-dark);
}

/* Grid styles */
.grid--lines{
  --gap: var(--space-l);
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 1px;
  --line-color: var(--col-dark-30);
  overflow: hidden; /*hides lines on top and bottom as well as left and right*/
  gap: var(--gap)
}
  .grid--lines > * {
    position: relative;
  }
    .grid--lines > *:before,
    .grid--lines > *:after {
      content: '';
      position: absolute;
      background-color: var(--line-color);
      z-index: 1;
    }
    .grid--lines > *::after {     /*horizontal grid lines*/
      inline-size: 100vw;
      block-size: 1px;
      inset-inline-start: 0;
      inset-block-start: calc(var(--gap)/2 * -1);
    }
    .grid--lines > *::before {     /*vertical grid lines*/
      inline-size: 1px;
      block-size: 100vh;
      inset-block-start: 0;
      inset-inline-start: calc(var(--gap)/2*-1);
    }