<!DOCTYPE html>
<html lang="en">
{% include "head.njk"%}
<body>
  {% include "header.njk" %}
    <main>
        <section>
            <h1>{{title}}</h1>
        </section>
        {{content | safe}}
    </main>
    <footer>
      <p> copyrigh Jo's Photography</p>
    </footer>
<script src="assets/js/main.js"></script>
</body>
</html>
